sudo: false
language: python
python:
  - "3.6"

# command to install dependencies
install:
  - pip install codecov
  - pip install pytest-cov
  - pip install -r requirements.txt

# command to run tests
script:
  - pytest --cov=./

after_success:
  - codecov