graft docs
graft src
graft ci
graft tests

include .build.info
include .pylintrc
include .cookiecutterrc
include .editorconfig
include .vscode/settings.json
include conda_recipe/*.yaml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml appveyor.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib
